blockquote {
    max-height: 16rem;
    overflow: auto;
    font-size: 1.4rem;
    font-family: Open Sans;
    font-style:italic;
    padding:1.2rem 1.875rem 1.2rem 4rem;
    border-left:8px solid rgb(255, 212, 130);
    line-height:1.6;
    position: relative;
  }

  blockquote::before {
    font-family:Arial;
    content: "\201C";
    color:rgb(255, 212, 130);
    font-size: 4rem;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  blockquote::after {
    content: '';
  }