
.partner-name{
    font-family: Ginto Nord, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: auto;
    line-height: auto;
    /* identical to box height */

    text-align: center;

    /* main */

    color: #9147FF;
}

.partner-desc{

    font-family: Ginto Nord, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: auto;
    text-align: center;

    color: rgb(0, 0, 0);
}

.partner-email{

    font-family: Ginto Nord, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;

    color: rgb(0, 0, 0);
}

.partner-section{
    font-family: Ginto Nord, sans-serif;
    font-weight: 700;
    text-align: center;
    color: rgb(145 71 255);
}