<footer class="border-gray-200 px-2 sm:px-4 py-2.5 text-white text-center h-24 flex gap-2 items-center justify-center bg-csBGPrimary">
    <p>© 2022 CS EXPO. All rights reserved.</p>
    <a href="https://github.com/Simperfy/CS-EXPO-2022" style="width: 24px; height: 24px;">
        <img src="/images/logo/github.png" alt="github logo" />
    </a>
</footer>