---
// JS
import Layout from '../layouts/Main.astro';

import Hero from '../components/Hero.jsx';
---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<!-- HTML -->
	<div class="flex flex-col gap-24 pb-24">
		<Hero
			client:visible
			title="ABOUT US"
			description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. \
			Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
			imageSrc="http://placekitten.com/g/700/700"
		/>
	</div>
</Layout>