---
// JS
import Layout from '../layouts/Main.astro'
import HeroContainer from '../components/HeroContainer.tsx';
import Hero from '../components/Hero.tsx';
import Carousel from '../components/CarouselGallery.tsx'
import '../styles/carousel.css';


const images2k17 = {
  desktopView: [
      {
      backgroundImageFirst: '/images/gallery/csconk217/2k17-1.jpg',
      backgroundImageSecond: '/images/gallery/csconk217/2k17-2-lg.png',
      backgroundImageThird: '/images/gallery/csconk217/2k17-3.jpg',
      },
      {
      backgroundImageFirst: '/images/gallery/csconk217/2k17-4.png',
      backgroundImageSecond: '/images/gallery/csconk217/2k17-5.jpg',
      backgroundImageThird: '/images/gallery/csconk217/2k17-6.jpg',
      },
      {
      backgroundImageFirst: '/images/gallery/csconk217/2k17-7.jpg',
      backgroundImageSecond: '/images/gallery/csconk217/2k17-9.jpg',
      backgroundImageThird: '/images/gallery/csconk217/2k17-8.jpg',
      }
  ],

  mobileView: [

    {
    backgroundImage: '/images/gallery/csconk217/2k17-1.jpg',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-2.png',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-3.jpg',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-4.png',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-5.jpg',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-6.jpg',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-7.jpg',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-9.jpg',
    },
    {
      backgroundImage: '/images/gallery/csconk217/2k17-8.jpg',
    }

  ]

};



const images2k18 = {
  desktopView: [
      {
      backgroundImageFirst: '/images/gallery/cscon2k18/2k18-1.jpg',
      backgroundImageSecond: '/images/gallery/cscon2k18/2k18-2-lg.png',
      backgroundImageThird: '/images/gallery/cscon2k18/2k18-3.jpg',
      },
      {
      backgroundImageFirst: '/images/gallery/cscon2k18/2k18-4.jpg',
      backgroundImageSecond: '/images/gallery/cscon2k18/2k18-5.jpg',
      backgroundImageThird: '/images/gallery/cscon2k18/2k18-6.jpg',
      },
      {
      backgroundImageFirst: '/images/gallery/cscon2k18/2k18-7.jpg',
      backgroundImageSecond: '/images/gallery/cscon2k18/2k18-8.jpg',
      backgroundImageThird: '/images/gallery/cscon2k18/2k18-9.jpg',
      }
  ],

  mobileView: [

    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-1.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-2.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-3.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-4.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-5.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-6.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-7.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-8.jpg',
    },
    {
      backgroundImage: '/images/gallery/cscon2k18/2k18-9.jpg',
    }

  ]

};
---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<div class="flex flex-col gap-4 pb-4">
		<HeroContainer client:visible>
			<Hero
				title="CS Gallery"
				description="CS EXPO has a long history of showcasing \
        innovative ideas to the institution. Every year, graduating students \
        work together to present their thesis, and be recognized for their hardships. \
        Want to look at the past events prepared by the previous batches? Visit the gallery."
				imageSrc="/images/hero/home-1.png"
			/>

			<div class="h-4 bg-white dark:bg-black w-full"></div>

		</HeroContainer>

		<Carousel
			client:visible
      slideTitle={"CSCON 2k17"}
			imagesMobile={images2k17.mobileView}
			imageDesktop ={images2k17.desktopView}
      bgColor="bg-csPrimaryDark"

		/>

		<Carousel
			client:visible
      slideTitle={"CSCON 2k18"}
			imagesMobile={images2k18.mobileView}
			imageDesktop ={images2k18.desktopView}
      bgColor="bg-csBGGallery"

		/>

	</div>
</Layout>