---
// JS
import Layout from '../layouts/Main.astro'
import Hero from '../components/Hero.tsx';
import Carousel from '../components/Carousel.tsx';
import '../styles/carousel.css';
import {DictString, DictDir} from '../components/Dictionaries/Strings.js';


const images = [
	{
		title: DictString("placeholder_title"),
		description: DictString("placeholder_medium") ,
		link: '#',
		backgroundImage: DictDir("placeholder_1080"),
	},
	{
		title: DictString("placeholder_title"),
		description: DictString("placeholder_medium"),
		link: '#',
		backgroundImage: DictDir("placeholder_1080"),
	},
	{
		title: DictString("placeholder_title"),
		description: DictString("placeholder_medium"),
		link: '#',
		backgroundImage: DictDir("placeholder_1080"),
	},
	{
		title: DictString("placeholder_title"),
		description: DictString("placeholder_medium"),
		link: '#',
		backgroundImage: DictDir("placeholder_1080"),
	},
	{
		title: DictString("placeholder_title"),
		description: DictString("placeholder_medium"),
		link: '#',
		backgroundImage: DictDir("placeholder_1080"),
	},
];
---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title= { DictString("web_title") }>
	<!-- HTML -->
	<div class="flex flex-col gap-24 pb-24">
		<Hero
			client:visible
			title={ DictString("web_title") }
			description={ DictString("placeholder_long") }
			imageSrc={ DictDir("placeholder_700") }
			isDateVisible
		/>

		<Carousel
			client:visible
			images={images}
		/>
	</div>
</Layout>