---
// JS
import Layout from '../layouts/Main.astro'
---

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<div>
		<h1 class="cs-title text-center">CS EXPO 2022</h1>
	</div>

	<!-- CSS -->

	<style>
	.cs-title {
		color: #9147ff;
		margin-top: 15vh;
		font-size: 10rem;
	}
	</style>
</Layout>