---
// JS
import Layout from '../layouts/Main.astro'
import Hero from '../components/Hero.tsx';
import Carousel from '../components/Carousel.tsx';
import '../styles/carousel.css';

const images = [
	{
		title: 'Feature 1',
		description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, \
			consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link: '#',
		backgroundImage: '/images/placeholders/1920x1080.png',
	},
	{
		title: 'Feature 2',
		description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, \
			consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link: '#',
		backgroundImage: '/images/placeholders/1920x1080.png',
	},
	{
		title: 'Feature 3',
		description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, \
			consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link: '#',
		backgroundImage: '/images/placeholders/1920x1080.png',
	},
	{
		title: 'Feature 4',
		description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, \
			consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link: '#',
		backgroundImage: '/images/placeholders/1920x1080.png',
	},
	{
		title: 'Feature 5',
		description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, \
			consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
		link: '#',
		backgroundImage: '/images/placeholders/1920x1080.png',
	},
];
---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<div class="flex flex-col gap-24 pb-24">
		<Hero
			client:visible
			title="CS EXPO 2022"
			description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. \
			Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
			imageSrc="/images/placeholders/700.png"
			isDateVisible
		/>

		<Carousel
			client:visible
			images={images}
		/>
	</div>
</Layout>