---
// JS
import Layout from '../layouts/Main.astro'
import Hero from '../components/Hero.jsx';
---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<div class="h-screen">
		<Hero
			client:visible
			title="CS EXPO 2022"
			description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
			imageSrc="/images/placeholders/700.png"
			isDateVisible
		/>
	</div>
</Layout>