---
// JS
import Layout from '../layouts/Main.astro'
import HeroContainer from '../components/HeroContainer.tsx';
import Hero from '../components/Hero.tsx';
import CarouselPeople from '../components/CarouselPeople.tsx';

// TODO: move to json or md
const carouselPeopleImages = [
	{
		title: "Speaker 1",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "/images/placeholders/400x600.png"
	},
	{
		title: "Speaker 2",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "/images/placeholders/400x600.png"
	},
	{
		title: "Speaker 3",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "/images/placeholders/400x600.png"
	}
];

const carouselContent = {
	title: "Speakers",
	description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
};
---

<!-- CSS scoped -->
<style>
.projects-container {
	height: 50rem;
}
</style>

<Layout title="CS Expo 2022">
	<!-- HTML -->
	<div class="flex flex-col gap-4 pb-4">
		<HeroContainer client:visible>
			<Hero
				title="CS EXPO 2022"
				description="Check out each group that will participate in the event.\
					They will show their knowledge and skills with their unique ideas and solutions \
					such as machine learning, image classification, and more."
				imageSrc="/images/hero/home-1.png"
				dateObj={{month: 'March 1 - 2, 2022', time: '9AM'}}
			/>

			<div class="h-4 bg-white dark:bg-black w-full"></div>

			<Hero
				title="DEV DAY"
				description="DevDay is an extension of CS Expo, wherein professionals from \
					the IT field are invited to talk about certain topics."
				imageSrc="/images/hero/home-2.png"
				dateObj={{month: 'March 18, 2022', time: '9AM'}}
				inverse
			/>
		</HeroContainer>

		<div class="relative projects-container">
			<div class="relative z-10 flex flex-col justify-center items-center h-full">
				<h1 class="text-4xl font-display font-bold text-csPrimary">Projects</h1>
				<p class="text-2xl text-center text-white w-2/3 ">Check out each group that will present their projects in the event.
					They will show their knowledge and skills with their unique ideas and cool applications.
					The topics revolve around artificial intelligence, machine learning, image classification, and more.
				</p>
				<a class="mt-4 border-2 p-2 rounded border-csSecondary text-csSecondary font-bold font-2xl w-fit hover:bg-csSecondary hover:text-white" href="/projects">View List</a>
			</div>
			<img class="block absolute top-0 left-0 h-full w-full filter brightness-[.25] object-cover" src="/images/collage.png" alt="Project Collage">
		</div>

		<!--
		<CarouselPeople
			client:visible
			images={carouselPeopleImages}
			title={carouselContent.title}
			description={carouselContent.description}
			bgColor={"bg-csPrimaryDark"}
		/>
		-->
	</div>
</Layout>
