---
// JS
import Layout from '../layouts/Partners.astro'
import HeroContainer from '../components/HeroContainer.tsx';
import Hero from '../components/Hero.tsx';
import '../styles/partners.css';
import {dictString} from '../components/Dictionaries/Strings.js';
---

<style>
.card-image-top {
	margin-bottom: -2vh;
    object-fit: none;
}
</style>

<Layout title= { dictString["page_partners"] } >
	<!-- HTML -->
	<div class="flex flex-col gap-24 pb-24">
		<HeroContainer client:visible>
			<Hero
				title={ dictString["page_partners"] }
				description={ dictString["desc_partners"] }
				imageSrc="/images/hero/home-1.png"
				client:visible
			/>
		</HeroContainer>
	</div>
	<div class="container-fluid" style="background: rgba(145, 71, 255, 0.1);">
		<div class="container ps-5 pt-5 pb-5" >
			<div class="container">
				<div class="row justify-content-center mb-3">
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mb-3">
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mb-3">
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 text-center me-3">
						<div class="container card mt-4">
							<img class="card-image-top" src="https://placekitten.com/g/225/150"/>
							<div class="card-body">
								<h1 class="card-text partner-name mb-3">{ dictString["placeholder_title"] }</h1>
								<h2 class="card-text">{ dictString["placeholder_long"] }</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>


</Layout>