---
// JS
import Layout from '../layouts/Main.astro'
---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<div class="h-screen">
		<h1 class="cs-title text-center">Partners</h1>
	</div>
</Layout>