---
import Layout from '../layouts/Projects.astro'
---
<Layout title="Projects">

  <!--carousel-->
  <div class="carousel-wrapper car blend">
    <!--SPAN-->
      <span id="item-1"></span>
      <span id="item-2"></span>
      <span id="item-3"></span>
      <span id="item-4"></span>
      <span id="item-5"></span>
      <span id="item-6"></span>
      <span id="item-7"></span>
      <span id="item-8"></span>
      <span id="item-9"></span>
      <span id="item-10"></span>
      <span id="item-11"></span>
      <span id="item-12"></span>
      <span id="item-13"></span>
      <span id="item-14"></span>
      <span id="item-15"></span>
      <span id="item-16"></span>
      <span id="item-17"></span>
      <span id="item-18"></span>
      <span id="item-19"></span>
      <span id="item-20"></span>
      <span id="item-21"></span>
      <span id="item-22"></span>
      <span id="item-23"></span>
      <span id="item-24"></span>
      <span id="item-25"></span>
      <span id="item-26"></span>
      <span id="item-27"></span>

  <!--ITEM 1-->
      <div class="carousel-item item-1 blend">
          <div class="w3-display-middle">
              <p><img src="/images/projects/logos/Leukemia.png" class="logo-size"></p>
              <h1 class="thesis">PREDICTION OF POSSIBLE LEUKEMIA IN MICROSCOPIC BLOOD CELL IMAGES: A MACHINE LEARNING AND IMAGE PROCESSING APPROACH</h1>
              
              <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/70oNAfNz3D8" target="_blank" rel="noopener noreferrer">DETECH</a></button></p>
          </div>

        <a class="arrow arrow-prev" href="#item-27"></a>
        <a class="arrow arrow-next" href="#item-2"></a>
      </div>

  <!--ITEM 2-->
      <div class="carousel-item item-2 blend" >
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Apophenia.png" class="logo-size"></p>
            <h1 class="thesis">CONTENT-BASED RECOMMENDATION SYSTEM FOR SYSTEM UNIT BUILDING USING KNN ALGORITHM</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/YHXdefl9VIc" target="_blank" rel="noopener noreferrer">APOPHENIA</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-1"></a>
        <a class="arrow arrow-next" href="#item-3"></a>
      </div>

  <!--ITEM 3-->
      <div class="carousel-item item-3 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Bukas.png" class="logo-size"></p>
            <h1 class="thesis">POINT OF SALE SYSTEM WITH DEMAND FORECASTING FOR SMALL TO MEDIUM BUSINESSES</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/BfQb0lQYXFs" target="_blank" rel="noopener noreferrer">BUKAS</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-2"></a>
        <a class="arrow arrow-next" href="#item-4"></a>
      </div>

  <!--ITEM 4-->
      <div class="carousel-item item-4 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Bigkas.png" class="logo-size"></p>
            <h1 class="thesis">BIGKAS: A FILIPINO SIGN LANGUAGE TO VOICE TRANSLATOR</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/t-1afk84KFo" target="_blank" rel="noopener noreferrer">BIGKAS</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-3"></a>
        <a class="arrow arrow-next" href="#item-5"></a>
      </div>

  <!--ITEM 5-->
      <div class="carousel-item item-5 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Banana.png" class="logo-size"></p>
            <h1 class="thesis">MOBILE BASED: BANANA LEAF (MUSA ACUMINATA BALBISIANA) DISEASE DETECTION USING IMAGE SEGMENTATION</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/6ltLwdfDyRM" target="_blank" rel="noopener noreferrer">BDD</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-4"></a>
        <a class="arrow arrow-next" href="#item-6"></a>
      </div>

  <!--ITEM 6-->
      <div class="carousel-item item-6 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/DeepFake.png" class="logo-size"></p>
            <h1 class="thesis">DEEPFAKE VIDEO DETECTION USING CONVOLUTIONAL NEURAL NETWORKS</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/hm213H_mKq4" target="_blank" rel="noopener noreferrer">DEEP FAKE</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-5"></a>
        <a class="arrow arrow-next" href="#item-7"></a>
      </div>

  <!--ITEM 7-->
      <div class="carousel-item item-7 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Eyeopener.png" class="logo-size"></p>
            <h1 class="thesis">EYE OPENER: A MOBILE APPLICATION FOR DETECTING EYE DISEASES USING IMAGE PROCESSING TECHNIQUES</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/FLpie5vs-wc" target="_blank" rel="noopener noreferrer">EYE OPENER</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-6"></a>
        <a class="arrow arrow-next" href="#item-8"></a>
      </div>

  <!--ITEM 8-->
      <div class="carousel-item item-8 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/Linkdemic.png" class="logo-size"></p>
          <h1 class="thesis">LINKDEMIC: INFECTIOUS DISEASES SURVEILLANCE RESPONSE SYSTEM AND CHATBOT USING EXPECTATION-MAXIMIZATION CLUSTERING ALGORITHM</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/j5qBaKsJcYc" target="_blank" rel="noopener noreferrer">LINKDEMIC</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-7"></a>
      <a class="arrow arrow-next" href="#item-9"></a>
    </div>

  <!--ITEM 9-->
    <div class="carousel-item item-9 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/4Ace.png" class="logo-size"></p>
          <h1 class="thesis">COOL EYE: A MOBILE APPLICATION FOR ANOMALOUS TRICHROMATS AND DICHROMATS</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/ranzfZdUx10" target="_blank" rel="noopener noreferrer">COOL EYE</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-8"></a>
      <a class="arrow arrow-next" href="#item-10"></a>
    </div>

  <!--ITEM 10-->
    <div class="carousel-item item-10 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/KYP.png" class="logo-size"></p>
          <h1 class="thesis">KNOW-YOUR-PLATE: AN APPLICATION FOR DIET ANALYSIS THROUGH ARTIFICIAL INTELLIGENCE</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/y1xELiy_enE" target="_blank" rel="noopener noreferrer">KNOW-YOUR-PLATE</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-9"></a>
      <a class="arrow arrow-next" href="#item-11"></a>
    </div>

  <!--ITEM 11-->
      <div class="carousel-item item-11 blend">
          <div class="w3-display-middle">
              <p><img src="/images/projects/logos/Logo.png" class="logo-size"></p>
              <h1 class="thesis">SOCIAL MEDIA FAKE NEWS DETECTION WEB APP USING CRAWLER ALGORITHMS, MACHINE LEARNING AND NATURAL LANGUAGE PROCESSING</h1>
              
              <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/8ieQcoCrMxk" target="_blank" rel="noopener noreferrer">SVM FAKE NEWS</a></button></p>
          </div>

        <a class="arrow arrow-prev" href="#item-10"></a>
        <a class="arrow arrow-next" href="#item-12"></a>
      </div>

  <!--ITEM 12-->
      <div class="carousel-item item-12 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/SkinCap.png" class="logo-size"></p>
            <h1 class="thesis">SKIN CAP - IMAGE PROCESSING FOR SKIN CARE RECOMMENDER WITH SKIN ANALYZER</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/m0Skj6I4O0Q" target="_blank" rel="noopener noreferrer">SKIN CAP</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-11"></a>
        <a class="arrow arrow-next" href="#item-13"></a>
      </div>

  <!--ITEM 13-->
      <div class="carousel-item item-13 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/HappyFeet.svg" class="logo-size"></p>
            <h1 class="thesis">A MOBILE MESSAGING APPLICATIONG USING END-TO-END ENCRYPTION TECHNOLOGY</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/tNhkGArY1BY" target="_blank" rel="noopener noreferrer">HAPPY FEET</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-12"></a>
        <a class="arrow arrow-next" href="#item-14"></a>
      </div>

  <!--ITEM 14-->
      <div class="carousel-item item-14 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/VForce.png" class="logo-size"></p>
            <h1 class="thesis">FORECASTING THE WINNING TEAM OF VALORANT MATCHES USING MACHINE LEARNING APPROACH</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/vqqniLZtWkA" target="_blank" rel="noopener noreferrer">VFORCE</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-13"></a>
        <a class="arrow arrow-next" href="#item-15"></a>
      </div>

  <!--ITEM 15-->
      <div class="carousel-item item-15 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/CrowdDetect.png" class="logo-size"></p>
            <h1 class="thesis">CROWD DENSITY ESTIMATION SYSTEM USING YOLOV3 TO AVOID CONTACT DISEASE TRANSMISSION</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/pioJDEE9a8Y" target="_blank" rel="noopener noreferrer">CROWD DETECT</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-14"></a>
        <a class="arrow arrow-next" href="#item-16"></a>
      </div>

  <!--ITEM 16-->
      <div class="carousel-item item-16 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Usbong.png" class="logo-size"></p>
            <h1 class="thesis">USBONG: SOIL VIABILITY CLASSIFIER USING BINARY THRESHOLDING AND CNN TECHNIQUE</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/sjfCQIR8I50" target="_blank" rel="noopener noreferrer">USBONG</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-15"></a>
        <a class="arrow arrow-next" href="#item-17"></a>
      </div>

  <!--ITEM 17-->
      <div class="carousel-item item-17 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Pawmance.png" class="logo-size"></p>
            <h1 class="thesis">APPLICATION-BASED FOR PET BREEDING USING GALE-SHAPLEY ALGORITHM</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/xHSyRB-qmeg" target="_blank" rel="noopener noreferrer">PAWMANCE</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-16"></a>
        <a class="arrow arrow-next" href="#item-18"></a>
      </div>

  <!--ITEM 18-->
      <div class="carousel-item item-18 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/AiceStudy.png" class="logo-size"></p>
          <h1 class="thesis">CREATING PERSONALIZED LEARNING USING MACHINE LEARNING</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/puMHQJKsRho" target="_blank" rel="noopener noreferrer">AICE STUDY</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-17"></a>
      <a class="arrow arrow-next" href="#item-19"></a>
    </div>

  <!--ITEM 19-->
    <div class="carousel-item item-19 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/Nutrify.png" class="logo-size"></p>
          <h1 class="thesis">NUTRIFY: A MOBILE-BASED MEAL AND DIET PLANNER FOR DIABETICS USING DECISION TREE ALGORITHM</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/cmzEew0bBcQ" target="_blank" rel="noopener noreferrer">NUTRIFY</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-18"></a>
      <a class="arrow arrow-next" href="#item-20"></a>
    </div>

  <!--ITEM 20-->
    <div class="carousel-item item-20 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/DETECH.png" class="logo-size"></p>
          <h1 class="thesis">DETECH: SYSTEM SOFTWARE FOR FACE MASK AND FACE SHIELD DETECTION WITH THE UTILIZATION OF YOLOV5</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/SML1Da7Tv_Q" target="_blank" rel="noopener noreferrer">DETECH</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-19"></a>
      <a class="arrow arrow-next" href="#item-21"></a>
    </div>

  <!--ITEM 21-->
      <div class="carousel-item item-21 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/CardioGo.png" class="logo-size"></p>
            <h1 class="thesis">GAMIFIED FITNESS APPLICATION WITH HEART RATE DETECTOR USING IMAGE PROCESSING</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/Csg6cVHct24" target="_blank" rel="noopener noreferrer">CARDIO GO</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-20"></a>
        <a class="arrow arrow-next" href="#item-22"></a>
      </div>

  <!--ITEM 22-->
      <div class="carousel-item item-22 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/meSafe.jpg" class="logo-size"></p>
            <h1 class="thesis">SOCIAL DISTANCING IMPLEMENTATION THROUGH CROWD COUNTING TECHNOLOGY</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/S1fhFZFldmw" target="_blank" rel="noopener noreferrer">MESAFE</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-21"></a>
        <a class="arrow arrow-next" href="#item-23"></a>
      </div>

  <!--ITEM 23-->
      <div class="carousel-item item-23 blend">
          <div class="w3-display-middle">
            <p><img src="/images/projects/logos/Balikas.png" class="logo-size"></p>
            <h1 class="thesis">BALIKAS: USING SPEECH RECOGNITION TO LEARN ILOKANO</h1>
            
            <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/as-wA4ubIog" target="_blank" rel="noopener noreferrer">BALIKAS</a></button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-22"></a>
        <a class="arrow arrow-next" href="#item-24"></a>
      </div>

  <!--ITEM 24-->
      <div class="carousel-item item-24 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/cloudentifier.png" class="logo-size"></p>
          <h1 class="thesis">CLOUDENTIFIER: CLOUD IDENTIFICATION MOBILE APPLICATION UTILIZING CONVOLUTIONAL NEURAL NETWORK</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/ASFjWAUXr5Q" target="_blank" rel="noopener noreferrer">CLOUDENTIFIER</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-23"></a>
      <a class="arrow arrow-next" href="#item-25"></a>
    </div>

  <!--ITEM 25-->
    <div class="carousel-item item-25 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/Ernie.png" class="logo-size"></p>
          <h1 class="thesis">ERNIE: A MULTILINGUAL TEXT SUMMARIZER USING BERT AND GPT-2</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn"><a href="https://youtu.be/eEV8b7AFkf4" target="_blank" rel="noopener noreferrer">ERNIE</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-24"></a>
      <a class="arrow arrow-next" href="#item-26"></a>
    </div>

  <!--ITEM 26-->
    <div class="carousel-item item-26 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/Catnip.png" class="logo-size"></p>
          <h1 class="thesis">CATNIP: A WEB AND MOBILE APPLICATION FOR CAT’S SKIN AND MOUTH DISEASE RECOGNITION USING IMAGE PROCESSING AND GPU ENHANCED CONVOLUTIONAL NEURAL NETWORK (CNN)</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2"><a href="https://youtu.be/eYaLdspeGTU" target="_blank" rel="noopener noreferrer">CATNIP</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-25"></a>
      <a class="arrow arrow-next" href="#item-27"></a>
    </div>

  <!--ITEM 27-->
    <div class="carousel-item item-27 blend">
        <div class="w3-display-middle">
          <p><img src="/images/projects/logos/sungka.png" class="logo-size"></p>
          <h1 class="thesis">SUNGKA GOD: A SELF LEARNING GAME USING ARTIFICIAL INTELLIGENCE</h1>
          
          <br><p class="w3-center" style="font-family: 'Arial'; font-size: 16px; margin-bottom:3px;">Learn more about:</p>
              <p class="w3-center"><button class="btn3"><a href="https://youtu.be/I9PJjRpFXWY" target="_blank" rel="noopener noreferrer">SUNGKA GOD</a></button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-26"></a>
      <a class="arrow arrow-next" href="#item-1"></a>
    </div>

    </div>

</Layout>