---
import Layout from '../layouts/Projects.astro'
---
<Layout title="Projects">

  <!--carousel-->
  <div class="carousel-wrapper">
    <!--SPAN-->
      <span id="item-1"></span>
      <span id="item-2"></span>
      <span id="item-3"></span>
      <span id="item-4"></span>
      <span id="item-5"></span>
      <span id="item-6"></span>
      <span id="item-7"></span>
      <span id="item-8"></span>
      <span id="item-9"></span>
      <span id="item-10"></span>
      <span id="item-11"></span>
      <span id="item-12"></span>
      <span id="item-13"></span>
      <span id="item-14"></span>
      <span id="item-15"></span>
      <span id="item-16"></span>
      <span id="item-17"></span>
      <span id="item-18"></span>
      <span id="item-19"></span>
      <span id="item-20"></span>
      <span id="item-21"></span>
      <span id="item-22"></span>
      <span id="item-23"></span>
      <span id="item-24"></span>
      <span id="item-25"></span>
      <span id="item-26"></span>

  <!--ITEM 1-->
      <div class="carousel-item item-1">
          <div class="w3-display-middle" style="width: 70%;">
              <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
              <h1>COMPLETE BLOOD COUNT AND PREDICTION OF BLOOD RELATED DISEASES: A MACHINE LEARNING AND IMAGE PROCESSING APPROACH</h1>
              <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
              <p class="w3-center"><button class="btn">SAMPLE</button></p>
          </div>

        <a class="arrow arrow-prev" href="#item-26"></a>
        <a class="arrow arrow-next" href="#item-2"></a>
      </div>

  <!--ITEM 2-->
      <div class="carousel-item item-2">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>CONTENT-BASED RECOMMENDATION SYSTEM FOR SYSTEM UNIT BUILDING USING KNN ALGORITHM</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn2">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-1"></a>
        <a class="arrow arrow-next" href="#item-3"></a>
      </div>

  <!--ITEM 3-->
      <div class="carousel-item item-3">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>POINT OF SALE SYSTEM WITH DEMAND FORECASTING FOR SMALL TO MEDIUM BUSINESSES</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn3">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-2"></a>
        <a class="arrow arrow-next" href="#item-4"></a>
      </div>

  <!--ITEM 4-->
      <div class="carousel-item item-4">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>BIGKAS: A FILIPINO SIGN LANGUAGE TO VOICE TRANSLATOR</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-3"></a>
        <a class="arrow arrow-next" href="#item-5"></a>
      </div>

  <!--ITEM 5-->
      <div class="carousel-item item-5">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>MOBILE BASED: BANANA LEAF (MUSA ACUMINATA BALBISIANA) DISEASE DETECTION USING IMAGE SEGMENTATION</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn2">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-4"></a>
        <a class="arrow arrow-next" href="#item-6"></a>
      </div>

  <!--ITEM 6-->
      <div class="carousel-item item-6">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>DEEPFAKE VIDEO DETECTION USING CONVOLUTIONAL NEURAL NETWORKS</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn3">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-5"></a>
        <a class="arrow arrow-next" href="#item-7"></a>
      </div>

  <!--ITEM 7-->
      <div class="carousel-item item-7">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>EYE OPENER: A MOBILE APPLICATION FOR DETECTING EYE DISEASES USING IMAGE PROCESSING TECHNIQUES</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-6"></a>
        <a class="arrow arrow-next" href="#item-8"></a>
      </div>

  <!--ITEM 8-->
      <div class="carousel-item item-8">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>LINKDEMIC: INFECTIOUS DISEASES SURVEILLANCE RESPONSE SYSTEM AND CHATBOT USING EXPECTATION-MAXIMIZATION CLUSTERING ALGORITHM</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn2">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-7"></a>
      <a class="arrow arrow-next" href="#item-9"></a>
    </div>

  <!--ITEM 9-->
    <div class="carousel-item item-9">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>COOL EYE: A MOBILE APPLICATION FOR ANOMALOUS TRICHROMATS AND DICHROMATS</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn3">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-8"></a>
      <a class="arrow arrow-next" href="#item-10"></a>
    </div>

  <!--ITEM 10-->
    <div class="carousel-item item-10">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>KNOW-YOUR-PLATE: AN APPLICATION FOR DIET ANALYSIS THROUGH ARTIFICIAL INTELLIGENCE</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-9"></a>
      <a class="arrow arrow-next" href="#item-11"></a>
    </div>

  <!--ITEM 11-->
      <div class="carousel-item item-11">
          <div class="w3-display-middle" style="width: 70%;">
              <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
              <h1>SOCIAL MEDIA FAKE NEWS DETECTION WEB APP USING CRAWLER ALGORITHMS, MACHINE LEARNING AND NATURAL LANGUAGE PROCESSING</h1>
              <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
              <p class="w3-center"><button class="btn2">SAMPLE</button></p>
          </div>

        <a class="arrow arrow-prev" href="#item-10"></a>
        <a class="arrow arrow-next" href="#item-12"></a>
      </div>

  <!--ITEM 12-->
      <div class="carousel-item item-12">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>SKIN CAP - IMAGE PROCESSING FOR SKIN CARE RECOMMENDER WITH SKIN ANALYZER</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn3">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-11"></a>
        <a class="arrow arrow-next" href="#item-13"></a>
      </div>

  <!--ITEM 13-->
      <div class="carousel-item item-13">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>A MOBILE MESSAGING APPLICATIONG USING END-TO-END ENCRYPTION TECHNOLOGY</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-12"></a>
        <a class="arrow arrow-next" href="#item-14"></a>
      </div>

  <!--ITEM 14-->
      <div class="carousel-item item-14">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>FORECASTING THE WINNING TEAM OF VALORANT MATCHES USING MACHINE LEARNING APPROACH</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn2">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-13"></a>
        <a class="arrow arrow-next" href="#item-15"></a>
      </div>

  <!--ITEM 15-->
      <div class="carousel-item item-15">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>CROWD DENSITY ESTIMATION SYSTEM USING YOLOV3 TO AVOID CONTACT DISEASE TRANSMISSION</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn3">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-14"></a>
        <a class="arrow arrow-next" href="#item-16"></a>
      </div>

  <!--ITEM 16-->
      <div class="carousel-item item-16">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>USBONG: SOIL VIABILITY CLASSIFIER USING BINARY THRESHOLDING AND CNN TECHNIQUE</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-15"></a>
        <a class="arrow arrow-next" href="#item-17"></a>
      </div>

  <!--ITEM 17-->
      <div class="carousel-item item-17">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>APPLICATION-BASED FOR PET BREEDING USING GALE-SHAPLEY ALGORITHM</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn2">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-16"></a>
        <a class="arrow arrow-next" href="#item-18"></a>
      </div>

  <!--ITEM 18-->
      <div class="carousel-item item-18">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>CREATING PERSONALIZED LEARNING USING MACHINE LEARNING</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn3">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-17"></a>
      <a class="arrow arrow-next" href="#item-19"></a>
    </div>

  <!--ITEM 19-->
    <div class="carousel-item item-19">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>NUTRIFY: A MOBILE-BASED MEAL AND DIET PLANNER FOR DIABETICS USING DECISION TREE ALGORITHM</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-18"></a>
      <a class="arrow arrow-next" href="#item-20"></a>
    </div>

  <!--ITEM 20-->
    <div class="carousel-item item-20">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>DETECH: SYSTEM SOFTWARE FOR FACE MASK AND FACE SHIELD DETECTION WITH THE UTILIZATION OF YOLOV5</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn2">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-19"></a>
      <a class="arrow arrow-next" href="#item-21"></a>
    </div>

  <!--ITEM 21-->
      <div class="carousel-item item-21">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>GAMIFIED FITNESS APPLICATION WITH HEART RATE DETECTOR USING IMAGE PROCESSING</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn3">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-20"></a>
        <a class="arrow arrow-next" href="#item-22"></a>
      </div>

  <!--ITEM 22-->
      <div class="carousel-item item-22">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>SOCIAL DISTANCING IMPLEMENTATION THROUGH CROWD COUNTING TECHNOLOGY</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-21"></a>
        <a class="arrow arrow-next" href="#item-23"></a>
      </div>

  <!--ITEM 23-->
      <div class="carousel-item item-23">
          <div class="w3-display-middle" style="width: 70%;">
            <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
            <h1>BALIKAS: USING SPEECH RECOGNITION TO LEARN ILOKANO</h1>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
            <p class="w3-center"><button class="btn2">SAMPLE</button></p>
          </div>
        <a class="arrow arrow-prev" href="#item-22"></a>
        <a class="arrow arrow-next" href="#item-24"></a>
      </div>

  <!--ITEM 24-->
      <div class="carousel-item item-24">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>CLOUDENTIFIER: CLOUD IDENTIFICATION MOBILE APPLICATION UTILIZING CONVOLUTIONAL NEURAL NETWORK</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn3">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-23"></a>
      <a class="arrow arrow-next" href="#item-25"></a>
    </div>

  <!--ITEM 25-->
    <div class="carousel-item item-25">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>ERNIE: A MULTILINGUAL TEXT SUMMARIZER USING BERT AND GPT-2</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-24"></a>
      <a class="arrow arrow-next" href="#item-26"></a>
    </div>

  <!--ITEM 26-->
    <div class="carousel-item item-26">
        <div class="w3-display-middle" style="width: 70%;">
          <p><img src="/images/projects/logos/icon.png" class="logo-size"></p>
          <h1>CATNIP: A WEB AND MOBILE APPLICATION FOR CAT’S SKIN AND MOUTH DISEASE RECOGNITION USING IMAGE PROCESSING AND GPU ENHANCED CONVOLUTIONAL NEURAL NETWORK (CNN)</h1>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <p class="w3-center" style="font-family: 'Arial'; font-size: 14px;">Learn more about:</p>
          <p class="w3-center"><button class="btn2">SAMPLE</button></p>
        </div>
      <a class="arrow arrow-prev" href="#item-25"></a>
      <a class="arrow arrow-next" href="#item-1"></a>
    </div>

    </div>

</Layout>